<div class="card">
    <div class="card-body">
        <div class="calculator">
            <div class="row">
                <input type="text" id="calcResult" class="form-control mb-2 col-12">
            </div>
            <div class="row">
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('%')">%</button>
                <button class="btn btn-info btn-sm col-3 m-2" onclick="clearResult()">C</button>
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('/')">&#247;</button>
            </div>
            <div class="row">
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('*')">&#215;</button>
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('-')">-</button>
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('+')">+</button>
            </div>
            <div class="row">
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(7)">7</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(8)">8</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(9)">9</button>
            </div>
            <div class="row">
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(4)">4</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(5)">5</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(6)">6</button>
            </div>
            <div class="row">
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(1)">1</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(2)">2</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(3)">3</button>
            </div>
            <div class="row">
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('.')">.</button>
                <button class="btn btn-light btn-sm col-3 m-2" onclick="appendNumber(0)">0</button>
                <button class="btn btn-info btn-sm col-3 m-2" onclick="appendSymbol('=')">=</button>
            </div>
        </div>
    </div>
</div>