<div class="card">
    <div class="card-body">
        <div class="calculator">
            <div class="row mb-2">
                <div class="col-12">
                    <input type="text" id="calcResult" class="form-control" pattern="[0-9+\-*/%=.]*" onkeypress="return /[0-9+\-*/%.]/.test(event.key)" onkeydown="return appendSymbol('=')" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('Escape')">C</button>
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('%')">%</button>
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('/')">&divide;</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('*')">&times;</button>
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('-')">-</button>
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('+')">+</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('7')">7</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('8')">8</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('9')">9</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('4')">4</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('5')">5</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('6')">6</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('1')">1</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('2')">2</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('3')">3</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="btn-group d-flex" role="group">
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('.')">.</button>
                        <button class="btn btn-light flex-fill" onclick="dispatchKeyEvent('0')">0</button>
                        <button class="btn btn-info flex-fill" onclick="dispatchKeyEvent('Enter')">=</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
